{% comment %} {% extends 'base.html' %} {% endcomment %}
{% comment %} <!DOCTYPE html> {% endcomment %}
{% comment %} <html lang="en"> {% endcomment %}
{% comment %} <head> {% endcomment %}
  {% comment %} <title>Bootstrap Example </title> {% endcomment %}
  {% comment %} <meta charset="utf-8"> {% endcomment %}
  {% comment %} <meta name="viewport" content="width=device-width, initial-scale=1"> {% endcomment %}
  {% comment %} <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"> {% endcomment %}
  {% comment %} <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script> {% endcomment %}
  {% comment %} <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script> {% endcomment %}
{% comment %} </head> {% endcomment %}

{% comment %} <body> {% endcomment %}

{% comment %} <form method="POST",enctype="multipart/form-data"> {% endcomment %}
{% comment %} {% csrf_token %} {% endcomment %}
{% comment %} Enter 1st number: <input type="text" name="num1"><br>
Enter 2nd number: <input type="text" name="num2"><br> {% endcomment %}

    {% comment %} <div align = "center">   {% endcomment %}
    {% comment %} <input type="file"  name="doc" /> {% endcomment %}
    {% comment %}  {% endcomment %}
    {% comment %} <input type="submit"> {% endcomment %}
    {% comment %} </div> {% endcomment %}


{% comment %} </form> {% endcomment %}

{% comment %}  {% endcomment %}
{% comment %} </body> {% endcomment %}
{% comment %} </html> {% endcomment %}




{% block content %}
<div align="center">
  <h2>Upload</h2>
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <input type="file" name="document">
    <button type="submit">Upload file</button>
  </form>
  {% if url %}
    <p>Uploaded file: <a href="{{ url }}">{{ url }}</a></p>
  {% endif %}
  </div>
{% endblock %}
